@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
.mobile{display: none;}
.ham{display: none;}
body {font-family: 'Noto Sans KR', sans-serif;  font-size: 15px; color: #0e0e0e; } 
img { max-width: 100%;} 
:root { background-color: #FCFAFA; } 
.tit { text-align: center; } 
.tit h1 { font-size: 48px; font-weight: bold; color: #0e0e0e; } 
.tit p { font-size: 20px; color: #353535; font-weight: 400; line-height: 30px; margin-bottom: 40px; } 
.swiper-container { overflow: hidden; } 
.nav { position: fixed; display: flex; justify-content: space-between; align-items: flex-start; width: 100%; height: 85px; padding: 20px 160px; z-index: 1000; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;} 
.nav.white { background: rgba(255,255,255,0.95); box-shadow: 0 3px 7px 1px rgb(0 0 0 / 5%); -webkit-box-shadow: 0 3px 7px 1px rgb(0 0 0 / 5%); } 
.nav ul { display: flex; align-items: flex-start; gap: 45px; color: #1E020D; } 
.nav li{cursor: pointer;}
.nav .logo { width: 149px; height: auto; } 
.nav ul:last-child img { width: 30px; height: 30px; } 
.nav .main{font-size: 20px; font-weight: 500;}
.nav .sub{display: flex; margin-top: 10px; flex-direction: column; display: none; font-weight: 400;}
.nav:hover {background: rgba(255,255,255,0.95); height: 210px;}
.nav:hover .sub{display: flex; font-size: 17px; gap: 10px;}
/* .nav .main{width: 100px;}
.nav .right{width: unset;}
.nav .logo{width: unset;} */
#column-nav{display: none;}
.slide .kv { position: relative; } 
.slide .kv img { width: 100vw; } 
.slide .kv .txt { position: absolute; left: 10%; top: 50%; transform: translate(0, -50%); line-height: 55px; } 
.slide .kv .txt p { font-size: 25px; font-weight: 400; } 
.slide .kv .txt span { font-size: 32px; font-weight: 400; } 
.slide .kv .txt h3 { font-size: 45px; font-weight: 700; } 
.slide .kv .txt h6 { font-size: 23px; font-weight: 400; } 
.slide .kv .txt .more { font-size: 15px; color: #999; } 
.slide .kv .txt .more2 { font-size: 15px; color: #fff; } 
.slide .right .txt { color:#fff; text-align: right; text-shadow: 2px 2px 2px #333; right: 10%; } 

.section1 { background-color: #FCFAFA; position: relative; } 
.section1 .intro { position: relative; display: flex; justify-content: center; } 
.section1 .intro .box { position: absolute; display: flex; gap: 112px; bottom: -221px; z-index: 100; } 
.section1 .intro .box .txt { width: 640px; } 
.section1 .intro { height: 700px; } 
.section1 .intro.beige { height: 1100px; background-color: #FAEAD6; } 
.section1 .intro.beige .box { bottom: 159px; } 
.section1 .intro .txt { margin-left: 116px; margin-top: 33px; } 
.section1 .intro .txt h1 { font-size: 48px; font-weight: 700; line-height: 69.5px; margin-bottom: 126px; } 
.section1 .intro .txt h3 { font-size: 40px; font-weight: 500; line-height: 58px; margin-bottom: 43px; } 
.section1 .intro .txt p { font-size: 20px; font-weight: 400; line-height: 29px; } 
.section1 .intro .left { text-align: right; margin-top: 100px; } 
.section1 .deco1 { position: absolute; opacity: 0.2; top: 38%; right: 0; transform: rotate(65deg); z-index: 1; width: 400px; } 
.section1 .deco2 { position: absolute; opacity: 0.2; bottom: -42%; left: -11%; z-index: 1; width: 500px; } 
.section1 .none{display: none;}

.inner { max-width: 1600px; margin: 0 auto; padding: 160px; position: relative; background-color: #FCFAFA; z-index: -2; } 
.section2 .wrap { position: relative; display: flex; justify-content: space-evenly; gap: 0 10px} 
.section2 .wrap .con1, .con2, .con3, .con4, .con5 { display: flex; flex-direction: column; } 
.section2 .con2, .con4 { margin-top: 58px; } 
.section2 .wrap .cap { width:254px; height: 254px; background-color: #FAEAD6; border-radius: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin-bottom: 85px; cursor: pointer; padding: 20px; } 
.section2 .wrap .cap:hover { background-color: #DDBEA6; box-shadow: 2px 2px 10px rgba(0,0,0,0.2); } 
.section2 .wrap .cap img { width: 80%; } 
.section2 .wrap .cap h2 { font-size: 19px; font-weight: 500; } 
.section2 .wrap .cap .ex { font-size: 15px; font-weight: 500; line-height: 19px; margin-bottom: 20px; } 
.section2 .wrap .cap span { display: inline-block; background-color: #d9d9d9; color: #fff; border-radius: 100%; width: 22px; height: 22px; cursor: pointer; margin-left: 5px; } 

.threemin-test { width: calc(100% - 2*160px); height: 130px; border-radius: 72.5px; background-color: #DDBE9B; text-align: center; display: flex; flex-direction: row; align-items: center; justify-content: center; font-size: 25px; margin: 260px auto 0;  gap:47px; } 

.section3 { margin: 230px 0 260px; } 
.section3 .more { color: #999; } 
.section3 .wrap { display: grid; grid-template-columns: repeat(4, 1fr); grid-template-areas:"top top top right" "bot1 bot2 bot3 right"; grid-gap:57px; text-align: center; } 
.section3 .wrap .top { grid-area: top; border-radius: 30px; } 
.section3 .wrap .right { grid-area: right; display: flex; justify-content: space-between; align-items: center; flex-direction: column; background-color: #FAEAD6; border-radius: 30px; padding: 50px; box-sizing: border-box; position: relative; cursor: pointer; } 
.section3 .wrap .right:hover { background-color: #DDBEA6; box-shadow: 2px 2px 10px rgba(0,0,0,0.2); } 
.section3 .wrap .bot1 { grid-area: bot1; cursor: pointer; } 
.section3 .wrap .bot2 { grid-area: bot2; cursor: pointer; } 
.section3 .wrap .bot3 { grid-area: bot3; cursor: pointer; } 
.section3 .wrap .box { display: flex; justify-content: space-between; align-items: center; flex-direction: column; padding: 30px; } 
.section3 .wrap .box:hover { box-shadow: 2px 2px 10px rgba(0,0,0,0.2); border-radius: 30px; display: flex; align-items: center; flex-direction: column; } 
.section3 .wrap .box .txt p:nth-child(1) { font-size: 20px; } 

.section3 .wrap .right .txt h5 { font-size: 30px; font-weight: 500; line-height: 29px; margin-bottom: 20px; } 
.section3 .wrap .right .txt p { font-size: 18px; line-height: 25px; margin-bottom: 20px; } 
.section3 .wrap .right .txt del { font-size: 14px; line-height: 17px; color: #999; margin-right: 10px; } 
.section3 .wrap .right .txt span { font-size: 22px; } 
.section3 .wrap .right .txt .more { font-size:15px; } 
.section3 .wrap .right img { position: absolute; bottom: 7%; left: 7%; } 

.event { width: 100%; } 
.event .banner{display: flex; justify-content: space-around; gap: 0 20px;}

.section4 { margin: 260px 0;  position: relative; height: calc(640px + 2*100px); display: flex; justify-content: center;} 
.sec4_con {position: absolute; width: 100vw; background-color: #f3f3f3; padding: 100px 0;}
.section4 .wrap { position: relative; display: flex; justify-content: center; align-items: center; } 
.section4 .wrap .container { display: flex; flex-direction: column; justify-content: center; height: 500px; } 
.section4 .wrap .container .item { display: flex; } 
.section4 .wrap .container .item .picture { position: absolute; top: 0; width: 600px; height: 500px; border-radius: 30px; overflow: hidden; opacity: 0; transition: opacity .4s; } 
.section4 .wrap .container .item .txtbox { position: relative; width: 489px; margin-left: 644px; padding: 25px 0; } 
.section4 .wrap .container .item.active .txtbox a{font-size: 23px; font-weight: 700; margin-bottom: 10px;} 
.section4 .wrap .container .item .txtbox::before { position: absolute; top:0; right: 0; content: ''; display: block; width: 100%; height: 1px; background-color: #C9C5C5; -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s; transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s; z-index: 10;} 
.section4 .wrap .container .item .txtbox .more { display: none; opacity: 0; margin-top: 10px;} 
.section4 .wrap .container .item.active .picture { opacity:1; z-index: 1; } 
.section4 .wrap .container .item.active .txtbox::before { width: 650px; height: 2px; background-color: #000;} 
.section4 .wrap .container .item.active .txtbox .more { display: block; opacity:1; } 
/* .section4 .wrap .left { position: relative; width: 500px; height: 500px; } 
.section4 .wrap .left img { border-radius: 30px; position: absolute; top: 0; left: 0; } 
.section4 .wrap .right { display: flex; flex-direction: column; height: 500px; justify-content: space-evenly; } 
.section4 .wrap .right .txtbox { border-top: 2px solid #c9c5c5; font-size: 20px; font-weight: 500; color: #878787; padding: 25px 40px; } */

.section4 .wrap .right .first { color: #0e0e0e; border-top: 2px solid #0e0e0e; } 
.section4 .wrap .right .txtbox span { margin-right: 25px; } 
.section4 .wrap .right .txtbox .more { font-size: 15px; font-weight: 400; } 

.section5 .wrap { display: flex; text-align: center; justify-content: space-evenly; } 
.section5 .wrap .con { margin-top: 89px; cursor: pointer; } 
.section5 .wrap .con h5 { font-size: 20px; font-weight: 500; line-height: 28.5px; margin-bottom: 8px; } 
.section5 .wrap .con img { margin: 16px 0; } 
.section5 .wrap .con img:hover { width: 320px; } 

.bg { width: 100vw; height: 400px; background-color: #FAEAD6; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0);; z-index: -1; } 

footer { width: 100%; height: 390px; background-color: #DDBE9B; padding: 100px 200px; display: flex; justify-content: space-between;} 
footer .logo { width: 135px; height: 26px; margin-right: 50px; } 
footer .left { display: flex; flex-direction: column; justify-content: space-between; } 
footer .left .info { display: flex; } 
footer .left .info a { margin-right: 50px; } 


footer .right { display: flex; align-items: flex-start; gap: 40px;} 
footer .right h1 { font-size: 20px; font-weight: 500; } 
footer .right a { display: flex; flex-direction: column; align-items: center; text-align: center; font-size: 15px; } 
footer .right img { width: 50px; height: 50px; margin-bottom: 10px; } 

.top-btn { position: fixed; bottom: 5%; right: 5%; width: 100px; height: 100px; border-radius: 100%; border: 1px solid #999; box-shadow: 3px 3px 10px rgba(0,0,0,0.2); font-size: 20px; background-color: #fff; display: none; z-index: 3000; } 

@media all and (max-width:1230px) {
  .mobile{display: block;}
  .slide .kv .txt h3 {font-size: 29px; line-height: 44px;}
  .slide .kv .txt p{font-size: 15px; line-height: 20px; }
  .slide .kv .txt span{font-size: 20px;}
  

  /* .section2 .wrap{flex-direction: column; align-items: center;} */
  /* .section2 .box{flex-direction: row;} */
  #nav{padding: 20px 0; display: none;}
  #nav .logo{display: block;}
  .nav{padding: 58px 79px;}
  .nav ul{gap: 20px; flex-direction: column;}
  .ham{display: inline-block; position: absolute; right: 1%; top: 1%; cursor: pointer;}
  #column-nav{display: block;}
  .nav.white{display: none;}
  .nav:hover{background-color: transparent;}
/* input 중에 id가 trigger인 항목에 대한 css */
input[id=trigger] {
  display: none;
}

/* label 중에 for가 trigger인 항목 */
label[for=trigger] {
  /* border: 1px solid red; */
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 999;
}

/* label 중에 for가 trigger인 항목 안의 span */
label[for=trigger] span {
  display: block;
  height: 2px;
  background-color: #000;
  left: 0;
  width: 100%;
  position: absolute;
  transition: 0.3s;
  z-index: 1000; 
}

/* label[for=trigger] > span의 n번째 요소 */
label[for=trigger] span:nth-child(1) {
  top:0;
}

label[for=trigger] span:nth-child(2) {
  top:50%;
}

label[for=trigger] span:nth-child(3) {
  top:100%;
}

/* check시 변하는 label[for=trigger] > span의 n번째 요소  */
input[id=trigger]:checked + label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

input[id=trigger]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id=trigger]:checked + label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* 사이드바 */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -250px;
  transition: 0.3s;
  z-index: 99;
}

/* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
input[id=trigger]:checked ~ .sidebar {
  display: block;
  right: 0;
}
/* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
input[id=trigger]:checked + label[for=trigger] {
  right: 210px;
  transition: 0.3s;
}


  .section1{display: flex; flex-direction: column; align-items: center;  margin: 150px 0 100px;
  }
  .section1 .intro .box {flex-direction: column; gap: 20px;}
  .section1 .intro .left{text-align: left;}
  .section1 .intro .box .txt{margin-left: 0; width: 500px;}
  .section1 .intro .txt h1{font-size: 38px; margin-bottom: 70px;}
  .section1 .intro .txt h3{font-size: 30px;}
  .section1 .intro .txt p{font-size: 15px;}
  .intro .wow .intro-img{width: 100%; z-index: 9;}
  .section1 .intro.beige .box{bottom: 0;}
  .section1 .deco1{top: 19%; width: 300px;}
  .section1 .deco2{width: 300px; bottom: 42%;}

  .inner{padding: 0 100px ;}
  .threemin-test{width: 100%; flex-direction: column; gap:10px; margin: 100px 0;}
  .section2 .wrap .cap{width: 200px; height: 200px; padding: 0;}
  

  .event .banner{flex-direction: column; align-items: center; gap: 20px 0;}

  .section3 .wrap { display: grid; grid-template-columns: repeat(4, 1fr); grid-template-areas:"top top top" "right right right" "bot1 bot1 bot1" "bot2 bot2 bot2" "bot3 bot3 bot3"; grid-gap:57px; text-align: center; } 
  .section3 .wrap .right > img{position: static; flex-direction: row; width: 58%;}
  .section3 .wrap .right {flex-direction: row-reverse; justify-content: center; width: 130%;}
  .section3 .wrap .right .txt{flex-direction: row-reverse; text-align: left;}
  .section3 .wrap .box{flex-direction: row;  justify-content: flex-start; width: 130%;}
  .section3 .wrap .box img{width: 50%;}
  .section3 .wrap .box:hover{flex-direction: row;  padding-right: 20px;}
  .section3 .wrap .right .txt h5 {font-size: 22px;}
  .section3 .wrap .right .txt p{font-size: 15px;}
  .section3 .wrap .top{max-width: 130%;}


  .section4 .wrap .container{height: 350px;}
  .section4 .wrap .container .item .txtbox{margin-left: 500px; padding: 15px 0; width: 425px;}
  .section4 .wrap .container .item.active .txtbox a{font-size: 20px;}
  .section4 .wrap .container .item .picture{width: 450px; height: 350px;}
  .section5 .wrap{flex-direction: column;}
  .section5 .wrap .con { margin-top: 89px; cursor: pointer; display: flex; flex-direction: column;align-items: center;}
  .section5 .wrap .con img{width: 50%;}
  .section5 .wrap .con img:hover { width: 55%; } 
  .section5 .wrap .con h5{font-size: 25px;}
  .section5 .wrap .con p{font-size: 18px;}
  
  footer{padding: 100px 30px;}
  
  
  
}
@media all and (max-width:900px) {
  .section1 .none{display: block;}
  .section1 .block{display: none;}
  
  .section2{margin: 100px 0;}
  .section2 .con2, .con4{margin-top: 0;}
  .threemin-test{margin: 100px 0; font-size: 20px;}
  .inner{padding: 0 30px;}
  .slide .kv .txt .max, .summer{display: none;}
  .slide .kv .txt h6{font-size: 15px; line-height: 18px;}
  .section2 .wrap{flex-direction: column; align-items: center;}
  .section2 .wrap .cap{width: 254px; height: 254px; padding: 0;}
  .section2 .wrap .con1, .con2, .con3, .con4, .con5 { display: flex; flex-direction: row; gap: 0 20px; } 
  
  .section4 .txtbox{display: none;}
  .section4 .picture {position: absolute; left: 50%; transform: translateX(-50%);}
  footer{flex-direction: column; gap: 50px 0; height: auto;}
  footer .left {gap: 20px;}

}

